* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #000;
}
a{
  text-decoration: none;
  color: #fff;
}

.social-button {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span {
  position: relative;
  display: block;
  font-size: 38px;
  height: 60px;
  width: 60px;
  line-height: 75px;
  background: #292C49;
  border-radius: 50%;
  margin: 0 20px;
}

span:nth-child(1):before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  animation: facebook 4.5s linear infinite;
}

@keyframes facebook {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 5px #0C20FF;
  }

  50% {
    transform: rotate(270deg);
    box-shadow: 0 0 50px #6FADFF;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 6px #8535FF;
  }
}

span:nth-child(2):before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  animation: instagram 5s linear infinite;
}

@keyframes instagram {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 5px #B366FF;
  }

  50% {
    transform: rotate(270deg);
    box-shadow: 0 0 50px #FF26CB;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 6px #DBFF66;
  }
}

span:nth-child(3):before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  animation: twitter 5.5s linear infinite;
}

@keyframes twitter {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 5px #0009FF;
  }

  50% {
    transform: rotate(270deg);
    box-shadow: 0 0 50px #812AFF;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 6px #8535FF;
  }
}

span:nth-child(4):before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  animation: gmail 6s linear infinite;
}

@keyframes gmail {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 5px #2021FF;
  }

  50% {
    transform: rotate(270deg);
    box-shadow: 0 0 50px #33FF00;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 6px #CA1F2D;
  }
}


span:nth-child(5):before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  animation: youtube 6.5s linear infinite;
}

@keyframes youtube {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 5px #FF202A;
  }

  50% {
    transform: rotate(270deg);
    box-shadow: 0 0 50px #9A272D;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 6px #FFB5B9;
  }
}

span:nth-child(6):before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  animation: raddit 7s linear infinite;
}

@keyframes raddit {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 5px #FF5252;
  }

  50% {
    transform: rotate(270deg);
    box-shadow: 0 0 50px #FF7700;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 6px #FF4545;
  }
}
